@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
.container {
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 800px;
    height: 500px;
    margin: 0 auto;
    padding: 15px;
}
.menu {
    width: 250px;
    float: left;
}
.menu button {
    display: block;
    width: 80%;
    height: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background: #CED0CE;
    border: 1px solid #bbb;
    color: black;
    text-align: left;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}
.menu a {
    text-decoration: none;
}
.menu button:hover{
    background-color: #E6E8E6;
    transition: 2s;
    transform: scale(1.1);
    box-shadow:  1px 1px 0 0 #CED0CE
}
.div_select {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}
select,
::picker(select) {
  appearance: base-select;
}

select {
  border: 2px solid #ddd;
  background: #eee;
  padding: 10px;
  transition: 0.4s;
}

select:hover,
select:focus {
  background: #ddd;
}

select::picker-icon {
  color: #999;
  transition: 0.4s rotate;
}

select:open::picker-icon {
  rotate: 180deg;
}

::picker(select) {
  border: none;
}

option {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  border: 2px solid #ddd;
  background: #eee;
  padding: 10px;
  transition: 0.4s;
}

option:first-of-type {
  border-radius: 8px 8px 0 0;
}

option:last-of-type {
  border-radius: 0 0 8px 8px;
}

option:not(option:last-of-type) {
  border-bottom: none;
}

option:nth-of-type(odd) {
  background: #fff;
}

option:hover,
option:focus {
  background: #00b4d8;
}


option:checked {
  font-weight: bold;
}

option::checkmark {
  order: 1;
  margin-left: auto;
  content: "☑️";
}

::picker(select) {
  opacity: 0;
  transition: all 0.4s allow-discrete;
}

::picker(select):popover-open {
  opacity: 1;
}

@starting-style {
  ::picker(select):popover-open {
    opacity: 0;
  }
}

::picker(select) {
  top: calc(anchor(bottom) + 1px);
  left: anchor(10%);
}

.div_descricao {
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    gap: 15px;
}
.div_descricao input {
     border: 2px solid #ddd;
    width: 200px;
    height: 50px;
    border-radius: 5px;
}

.custom-fileUpload {
     border: 2px solid #ddd;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

#fileUpload {
    display: none;
}

#file-name {
    margin-left: 10px;
}

.registrar {
    margin-top: 10px;
    border-radius: 5px;
    height:40px;
    border: 2px solid #ddd;
}